<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>Уппс {{ code }}</title>
	<link rel="stylesheet" href="static/css/bootstrap.css" />
	<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="static/css/error_page.css" />
</head>

<body>
    <div class="site">
        <div class="sketch">
            <div class="bee-sketch red"></div>
            <div class="bee-sketch blue"></div>
        </div>
    
    <h1>{{ code }}:
        <small>{{message}}</small>
        <a href="\">Домой?</a>
    </h1>
    </div>
</body>

</html>