<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8"/>
	<title>Топ 100 игроков</title>
	<script type="text/javascript" src="static/js/index.js"></script>
	<link rel="stylesheet" href="static/css/index.css" />
</head>

<body>
	<div class="container">
		{% for player in players %}
		<div class="card">
			<div class="card-header">
				{{ player.place }}. {{ player.username }} {{ player.rank }}
			</div>
			<div class="divider"></div>
			<div class="game-group">
				{% for game in player.games %}
				<div class="game"
					onclick="view_game('{{ player.username }}','{{ game.number }}', '{{ game.timestamp }}');">
					<div class="game-item go {% if game.is_rival_white %} go-white {% else %} go-black {% endif %}"></div>
					<div class="game-item">{{ game.rival.name }} {{ game.rival.rank }}</div>
					<div class="game-item">{{ game.score}}</div>
					<div class="game-item">{{ game.size}}X{{ game.size}}</div>
					<div class="game-item">{{ game.timestamp}}</div>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>

</html>